<div class="container">
  <div class="header-container">
    <div class="header-left">
      <div class="header-item">
        <i class="fab fa-facebook-square"></i>
      </div>
    </div>
    <div class="header-center">
      <div class="search">
        <i class="fa fa-search"></i>
      </div>
      <div class="links">
        <div class="link">
          <img src="https://avatars1.githubusercontent.com/u/1796022?s=460&v=4">
          <span>Jan</span>
        </div>
        <div class="link">
          <span>Home</span>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="header-item">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="header-item">
        <i class="fas fa-comments"></i>
      </div>
      <div class="header-item">
        <i class="fas fa-globe-americas"></i>
        <span class="bubble">3</span>
      </div>
      <div class="header-item">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
</div>
